* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.select {
  display: flex;
  justify-content: space-around;
}

.answer {
  text-align: center;
  color: white;
  font-size: 3em;
  margin: 2%;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: dashed 1px yellow;
}

.images {
  display: flex;
  justify-content: space-around;
}

select {
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  border: dashed 1px yellow;
  margin: 0;
  display: block;
  width: 21%;
  font-size: 2em;
  color: yellow;
  text-align: center;
  background-color: black;
  margin-top: 3%;
  padding: 1% 0 1% 8%;
}
.divbutton {
  display: flex;
  justify-content: center;
}
.game1-next-button {
  padding: 10px 20px;
  font-size: 30px;
  color: yellow;
  background-color: black;
  border: dashed 1px yellow;
  border-radius: 10px;
}
