* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game1-parent {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  min-height: 100vh;
  background-color: black;
}

h2 {
  text-align: center;

  width: 60%;
  margin: 0 auto;
  font-size: 4rem;
  color: #333;

  text-shadow: 2px 2px 0 rgb(208, 211, 58), 2px -2px 0 rgb(208, 211, 58),
    -2px 2px 0 rgb(208, 211, 58), -2px -2px 0 rgb(208, 211, 58),
    2px 0px 0 rgb(208, 211, 58), 0px 2px 0 rgb(208, 211, 58),
    -2px 0px 0 rgb(208, 211, 58), 0px -2px 0 rgb(208, 211, 58);
}

.game1-images-parent {
  display: flex;

  flex-direction: column;
}

.game1-images-children1 {
  display: flex;
  justify-content: center;
}

.game1-images-image {
  background-color: grey;
  height: 200px;
  width: 200px;
  margin: 10px 20px;
  border-radius: 20px;
}

.game1-message-crypt {
  background-color: yellow;
  width: 60%;
  margin: 0 auto;
  font-size: 2rem;
}

/* .game1-next-button {
  background-color: white;
  width: 5%;
  margin: 0 auto;
} */

.game1-next-button {
  background-color: white;
  width: 5%;
  margin: 0 auto;
  animation: rotate 0.3s linear 1;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  12% {
    transform: rotate(25deg);
  }
  24% {
    transform: rotate(0deg);
  }
  36% {
    transform: rotate(-25deg);
  }
  48% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(25deg);
  }
  72% {
    transform: rotate(0deg);
  }
  84% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.game1-images-container {
  display: flex;
  align-items: center;
  color: white;
  font-size: 2rem;
  margin: 25px;
  width: 30%;
  border-radius: 20px;
  justify-content: space-around;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-shadow: inset -1px 3px 8px 5px #333, 2px 5px 16px 0px #a59a22,
    5px 5px 15px 5px rgba(255, 255, 255, 0);
  box-shadow: inset -1px 3px 8px 5px #333, 2px 5px 16px 0px #a59a22;
}

p {
  display: flex;
  justify-content: center;
}

.img:hover {
  width: 300px;
  height: 400px;
}
