* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.select {
  display: flex;
  justify-content: space-around;
}

.answer {
  text-align: center;
  color: white;
  font-size: 3em;
  margin: 3%;
}

img {
  width: 400px;
  height: 400px;
}

.images {
  display: flex;
  justify-content: space-around;
}

select {
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  display: block;
  width: 21%;
  padding: 12px 30px 15px 15px;
  font-size: 2em;
  color: white;
  text-align: center;
  background-color: blue;
  margin-top: 3%;
}
