@font-face {
  font-family: "STARWARS";
  src: url('/STARWARS.ttf');
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  ;
}
.title {
  font-family: 'STARWARS';
  font-size: 20vh;
}
.title, .regles { 
  text-align: center;
  color: #fff;
}
.button {
  min-width: 100vh;
}
.button:hover {
  -webkit-animation: ani 0.7s steps(22) forwards;
  animation: ani 0.7s steps(22) forwards;
 }

.play {
  color: black;
  width: 18vw;
  height: 10vh;
  font-size: 5vh;
  border-radius: 20px;
}
body, html {
	background-image: url(http://opengameart.org/sites/default/files/seamless%20space_0.PNG);
  background-color: black;
  animation: space-animation 60s linear infinite;
}

  background-size: 184px 92px;
  box-shadow: inset 20px 2px 50px rgba(0,0,0,1), 0 0 100px rgba(79,193,233,0.4);
	border-radius: 100%;
	animation: animate 6s linear infinite;
	transform: rotate(-15deg);


@keyframes animate {
	from {
		background-position: 184px 0;
	}
}
@keyframes space-animation {
  from {
      background-position-y: -100%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
